/* Navigation styles */
/* Add a CSS selector that targets the logo class with the following properties 
        Add the properties: 
            background: white;
            height: 230px;
            background-image: url("../images/jakes-logo.png");
            background-repeat: no-repeat;
            background-position: center;
    */
.logo {
    background-color: white;
    height: 230px;
    background-image: url(../images/jakes-logo.png);
    background-repeat: no-repeat;
    background-position: center;

}

/* Add a selector that targets the nav class. This element will be the flex container for the navigation component of your layout.
        Add the properties:     
            display: flex;
            background-color: black;
            padding: 20px;
    */
.nav {
    display: flex;
    background-color: black;
    padding: 20px;
}


/* Write a selector that targets three different classes all at once: left, center and right.
       .left, .center, .right {}
        Add the properties:
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
     */
.left {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.right {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.center {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* create a selector that targets the left and right classes
        .left, .right {}
        Add the properties:
            width: 25%;
    */
.left,
.right {
    width: 25%;
}

/* Add a selector that targets the center class 
        and set its width to 50%.
    */
.center {
    width: 50%;
}

/* Write a selector that targets the <a> tags nested inside the center class. 
        .center a {}
        Add the properties:
            color: white;
            padding: 10px;
            font-size: 18px;
            text-decoration: none;
            font-family:arial;    
    */

.center a {
    color: white;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: arial;

}

/* create a selector to target the <button> element 
        with the following properties: 
            color:black;
            font-size: 16px;
            padding: 15px;
            width: 50%;
    */

.nav button {
    color: black;
    font-size: 16px;
    padding: 15px;
    width: 50%;
}

/* create selector to target the <button> inside the right class.
        .right button {}
        with the following properties: 
            background-color: yellow;
    */

.right button {
    background-color: yellow;
}

/* create selector to target the <button> inside the left class.
        .left button {}
        with the following properties: 
            background-color: skyblue;
    */
.left button {
    background-color: skyblue;
}


/* Column styles */
/*Add a selector that targets the parent flex container- 
        the column class
        Add the properties to create a column-based layout:
            display: flex;
            height: 1200px;
            width: 800px;
            flex-direction: column;
            margin: auto;
    */

.column {
    display: flex;
    height: 1200px;
    width: 800px;
    flex-direction: column;
    margin: auto;
}

/* add a selector that targets the meal1, meal2, and meal3 classes.
        .meal1, .meal2, .meal3{}
        Add the properties:
            height: 100%;
            width: 100%;
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
            background-repeat: no-repeat;
            background-position: center;
    */

.meal1,
.meal2,
.meal3 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center;
}




/*Create a selector that targets the meal1 class
        Add the properties:
            margin-top: 20px;
            background-image: url("../images/steak.png");
    */
.meal1 {
    margin-top: 20px;
    background-image: url(../images/steak.png);
}


/*Create a selector that targets the meal2 class
        Add the properties:
            background-image: url("../images/soup.png");
    */
.meal2 {

    background-image: url(../images/soup.png);

}

/*Create a selector that targets the meal3 class
        Add the properties:
            background-image: url("../images/cheesecake.png");
    */
.meal3 {

    background-image: url(../images/cheesecake.png);


}

/*Create a selector to target the text class
        Add the properties:
            background: rgb(0,0,0,0.7);
            width: 100%;
            padding: 20px 40px;
            color: white;
    */
.text {
    width: 100%;
    background: rgb(0, 0, 0, 0, 7);
    padding: 20px 40px;
    color: white;




}


/*Add a selector that targets the <p> element in the text class
        .text p {}
        Add the properties:
            color: rgba(255, 255, 255, 0.7);
            font-family: Arial, Helvetica, sans-serif;
    */

.text p {
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
}

/*Add a selector that targets the <h1> element in the text class
        .text h1 {}
        Add the properties:
            font-family: Georgia, 'Times New Roman', Times, serif;
    */
.text h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Footer Styles */
/*Add a selector that targets the <a> element in the footer class
        .footer a {}
        Add the properties:
            padding: 20px 40px;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
    */

.footer a {
    padding: 20px 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

/* target class ig and add color poperty with value red */
.ig {
    color: red;
}


/* target class fb and add color poperty with value skyblue */
.fb {
    color: skyblue;
}

/* target class tw and add color poperty with value yellow */
.tw {
    color: yellow;
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: black;
}